.main {
  padding-top: 100px;
  width: 100%;
  min-height: 800px;
  background: #fbf5e9;
  flex-direction: column;
}

.main__line {
  position: relative;
  margin-top: 30px;
  width: 80%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 16, 0) 0%,
    #351810 51%,
    rgba(53, 24, 16, 0) 100%
  );
}

.main__title {
  margin-top: 50px;
}

.main__title__circle {
  width: 18px;
  height: 16px;
  border: 1px solid #ee9f1f;
  border-radius: 50%;
}

.main__title__line {
  width: 113px;
  height: 1px;
  background: #ee9f1f;
}

.main__title__text {
  padding: 0 40px 0 40px;
  color: #ee9f1f;
  font-family: MonteCarlo;
  font-size: 70px;
  font-weight: 400;
}

.main__member {
  margin-top: 10px;
  height: auto;
  flex-wrap: wrap;
}

.main__member__item {
  position: relative;
  height: 380px;
  width: 280px;
  border-radius: 20px;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.main__member__item__top {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  background: rgba(0, 0, 0, 0.14);
}

.main__member__item__bottom {
  position: relative;
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 20px 20px;
}

.main__member__item__bottom__memberRole {
  position: absolute;
  color: #351810;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: 400;
  top: 9px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.main__member__item__bottom__memberName {
  position: relative;
  left: 33px;
  bottom: -57px;
  color: #351810;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

img {
  border-radius: 20px 20px 0px 0px;
}

.main__member__item__bottom__memberName1 {
  position: relative;
  left: 52px;
  bottom: -57px;
  color: #351810;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main__member__item__bottom__memberName2 {
  color: #351810;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  float: left;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .main__title__text {
    font-size: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .main__title__text {
    font-size: 30px;
  }
  .main__title__circle {
    width: 12px;
    height: 12px;
  }
  .main__title__line {
    width: 50px;
  }
}
