@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-user-drag: none;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.container-fluid {
  padding: 0 !important;
}
.header {
  position: relative;
  left: 0;
  width: 100%;
  height: 110px;
  background: #351810;
  display: flex;
}
.header__logo {
  position: relative;
  top: 5px;
  margin-left: 342.36px;
  width: 104.108px;
  height: 106.537px;
}
.header__navBar {
  position: relative;
  display: flex;
  width: 900px;
  height: 100%;
  list-style-type: none;
  margin-left: 32px;
}
.header__navBar > li {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
.header__navBar > li > a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.header__navBar li a:hover {
  color: #ffc1a6;
}

.header__iconBox {
  position: relative;
  top: 40px;
  margin-left: -100px;
  display: flex;
  width: 199.18px;
  height: 28px;
}

.header__iconBox img {
  margin-right: 26px;
}

.header__iconBox img:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.3s;
}

.header__iconBox__cartCount {
  position: absolute;
  left: 78px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #ba5900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: 600;
}

.header__iconBox__loginForm {
  position: absolute;
  left: 15px;
  top: 40px;
  width: 243px;
  height: 262px;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(14, 13, 13, 0.36));
  border-radius: 5px;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
}

.header__iconBox__loginForm__text--login {
  display: block;
  margin-top: 11px;
  width: 100%;
  color: #351810;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__iconBox__loginForm__line {
  width: 181px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(53, 24, 16, 0) 0%,
    #351810 51%,
    rgba(53, 24, 16, 0) 100%
  );
}

.header__iconBox__loginForm__arrowUp {
  top: -10px;
  left: 110px;
}

.header__iconBox__loginForm form {
  margin-top: 5px;
  width: 87%;
}

.header__iconBox__loginForm label {
  color: #351810;
  text-align: center;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header__iconBox__loginForm input {
  width: 210px;
  height: 25px;
  border: 1px solid rgba(107, 107, 107, 0.1);
  color: #351810;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 700;
  text-indent: 5px;
}

.header__iconBox__loginForm input:hover {
  border-color: #351810;
}

.header__iconBox__loginForm__rememberWrapper {
  position: relative;
  display: flex;
}

.header__iconBox__loginForm__rememberWrapper a {
  position: absolute;
  text-decoration: none;
  top: 7px;
  right: 0;
  height: 6px;
  color: #351810;
  font-weight: 700;
  font-size: 8px;
  font-family: Montserrat;
  text-transform: uppercase;
}
.header__iconBox__loginForm__rememberWrapper a:hover {
  cursor: pointer;
  color: #593429;
}
#rememberInput {
  width: 10px;
  accent-color: #351810;
}

#rememberLabel {
  position: absolute;
  left: 12px;
  top: 8px;
  font-size: 8px;
}

.header__iconBox__loginForm button {
  margin-top: 3px;
  width: 210px;
  height: 35px;
  background: #351810;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 600;
}

.header__iconBox__loginForm button:hover {
  background: #593429;
}

.header__iconBox__loginForm__text--forgot {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12.5px;
  color: #351810;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__iconBox__loginForm__text--forgot:hover {
  color: #593429;
}

.activeNav {
  border-top: solid 2px #ffc1a6;
}

.activeHeader {
  position: fixed;
  justify-content: center;
  height: 55px;
}
#product:hover > ul {
  display: block;
}
#product > ul {
  position: absolute;
  display: none;
  top: 80px;
  width: 220px;
  background: #fff;
  z-index: 1;
}
#product > ul > li {
  list-style-type: none;
  padding: 20px;
}
#product > ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 550;
}

.arrowUp {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.header__navBar__arrowUp {
  top: -10px;
  left: 20px;
}

#product > ul > li > a:hover {
  color: #e68b37;
}

.slider {
  background: #d9d9d9;
  width: 100%;
  height: 795px;
  overflow: hidden;
  position: relative;
}

.slider__list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  transition: 1.5s;
}
.slider__list img {
  min-width: 100vw;
  height: 100%;
}
.slider__buttons {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 95%;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.slider__buttons button {
  background-color: transparent;
  border: none;
}

.slider__buttons i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 50%;
  font-size: 30px;
}

.slider__buttons button i:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
  cursor: pointer;
}

.slider__dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider__dots li {
  list-style: none;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10px;
  border-radius: 20px;
  transition: 1.5s;
  cursor: pointer;
}

.slider__dots li.active {
  width: 40px;
}

.map {
  position: relative;
  width: 100%;
}

.mainContact {
  position: relative;
  width: 100%;
  height: 435px;
  background: #d9d9d9;
}
