@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-user-drag: none;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.container-fluid {
  padding: 0 !important;
}
.header {
  position: relative;
  left: 0;
  width: 100%;
  height: 110px;
  background: #351810;
  display: flex;
}
.header__logo {
  position: relative;
  top: 5px;
  margin-left: 342.36px;
  width: 104.108px;
  height: 106.537px;
}
.header__navBar {
  position: relative;
  display: flex;
  width: 900px;
  height: 100%;
  list-style-type: none;
  margin-left: 32px;
}
.header__navBar > li {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
.header__navBar > li > a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.header__navBar li a:hover {
  color: #ffc1a6;
}

.header__iconBox {
  position: relative;
  top: 40px;
  margin-left: -100px;
  display: flex;
  width: 199.18px;
  height: 28px;
}

.header__iconBox img {
  margin-right: 26px;
}

.header__iconBox__cartCount {
  position: absolute;
  left: 78px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #ba5900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: 600;
}

.activeNav {
  border-top: solid 2px #ffc1a6;
}

.activeHeader {
  position: fixed;
  justify-content: center;
  height: 55px;
}
#product:hover > ul {
  display: block;
}
#product > ul {
  position: absolute;
  display: none;
  top: 80px;
  width: 220px;
  background: #fff;
}
#product > ul > li {
  list-style-type: none;
  padding: 20px;
}
#product > ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 550;
}
#arrowUp {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e68b37;
}

#product > ul > li > a:hover {
  color: #e68b37;
}

.slider {
  background: #D9D9D9;
  width: 100%;
  height: 780px;
}